.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
    border: solid 1px #999;
}
.center-left{
    width: 150px;
    height: 400px;
    background-color: #80bfa8;
    border: solid 1px #999;
}
.center{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
    border: solid 1px #999;




}







.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
    border: solid 1px #999;
}
* {
    margin: 0;
    padding: 0;
}